body {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}
.section {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}
.section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#f7f7f7
}

.profile-picture {
    width: 223px;
    height: 206px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 100px;
}

.profile-text {
    color: #773210; 
    font-size: 106.58px;
    font-weight: bold;
}

.profile-text-large {
    color: #f7f7f7; 
    font-size: 106.58px;
    font-weight: bold;

}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #211106;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}
    
.fixed-nav a {
    color: #f7f7f7;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    font-weight: bold;
}


.textbox {
    position: absolute;
    left: 420px;
    top: 248px;
    width: 377px;
    height: 270px;
    border: 1px solid #211106;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 12px;
    color: #f7f7f7;
}
.footer {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #773210;
}
.footer-email {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: normal;
    color: #f7f7f7;

}
.section {
    width: 1280px;
    height: 720px;
    margin: 50px ;
    background-color: #211106;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    opacity: 2;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s
}
.section.visible {
    opacity: 2;
    transform: translateY(0);
}
#home { background: #211106; }
#works { background: #211106; }
#about { background: #211106; }
#contact { background: #211106; }
